@model List<Qalsql.Models.TaskDto>

@{
    ViewBag.Title = "SQL Задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Лекция №@(Model.Any() ? Model[0].Exercise.LessonId.ToString() : "...")</h2>

<div class="container">
    <div class="panel-group" id="accordion">

        @foreach (var task in Model)
        {
            var exe = task.Exercise;
            var lessonId = exe.LessonId;
            var taskId = exe.ExerciseNum;
            var href = "collapse" + taskId;
            var isok = task.Passed ? "label-success" : "label-info";
            var passed = task.Passed ? "ok" : "try";
            var active = ViewBag.ActiveTask == taskId ? "in" : "collapse";

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="label @isok">@passed</span>&nbsp;&nbsp;
                        <a data-toggle="collapse" data-parent="#accordion" href="#@href"><strong>#@exe.ExerciseNum</strong></a>
                    </h4>
                </div>
                <div id="@href" class="panel-collapse @active">
                    <div class="panel-body">
                        @using (Html.BeginForm("CheckSql", "SqlChecker"))
                        {
                            <div class="form-horizontal">
                                <div class="col-md-10 col-md-offset-1">
                                    @if (!task.Passed && task.Message != null && task.Message.Trim().Length > 0)
                                    {
                                        <div class="form-group">
                                            <div class="alert alert-danger">
                                                <strong>Oops!</strong> @Html.Raw(task.Message)
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">@Html.Raw(exe.Conditions)</div>
                                    <div class="form-group">
                                        @Html.Hidden("lessonId", lessonId)
                                        @Html.Hidden("taskId", taskId)
                                        @Html.TextArea("sql", task.Answer, new { rows = 10, @class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-offset-8">
                                        <input type="submit" value="Send" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
